<span>
  <h1 mat-dialog-title fxLayoutAlign="center center">{{ dialogTitle }}</h1>
  <div class="finished-text" fxLayout="column" fxLayoutAlign="center center" *ngIf="dialogTextPresent">
    <h3>
      Good job!
    </h3>
    Length: {{ sprintName }}
    <br> Started: {{ sprintStart.getHours() }}h{{ sprintStart.getMinutes() }}min{{ sprintStart.getSeconds() }}s
    <br> Completed: {{ sprintFinish.getHours() }}h{{ sprintFinish.getMinutes() }}min{{ sprintFinish.getSeconds() }}s
    <br>
    <br>
  </div>
  <mat-dialog-actions fxLayoutAlign="center center">
    <button *ngIf="yesButtonPresent" mat-raised-button [mat-dialog-close]="true" color="{{yesButtonColor === 0 ? 'accent' : 'warn'}}">{{ yesButtonText }}</button>
    <button *ngIf="noButtonPresent" mat-raised-button [mat-dialog-close]="false" color="primary">{{ noButtonText }}</button>
  </mat-dialog-actions>
</span>
