<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" name="signupForm" #ngFormRef="ngForm" (ngSubmit)="onSubmitSignupForm(ngFormRef)">
    <mat-form-field>
      <input type="username" matInput placeholder="Create a username" ngModel name="username" required minlength="3" #usernameInputRef="ngModel">
      <mat-error *ngIf="usernameInputRef.hasError('required')">Required</mat-error>
      <mat-hint *ngIf="usernameInputRef.hasError('minlength')">At least 3 characters long</mat-hint>
      <mat-hint align="end">{{ usernameInputRef.valid ? '✔' : usernameInputRef.value?.length + '/3' }} </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Create a password" ngModel name="password" required minlength="6" #passwordInputRef="ngModel">
      <mat-error *ngIf="passwordInputRef.hasError('required')">Required</mat-error>
      <mat-hint *ngIf="passwordInputRef.hasError('minlength')">At least 6 characters long</mat-hint>
      <mat-hint align="end">{{ passwordInputRef.valid ? '✔' : passwordInputRef.value?.length + '/6' }} </mat-hint>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput #datepickerInputRef placeholder="Your birthdate" [matDatepicker]="datepickerRef" [(ngModel)]="date" name="birthdate"
        [max]="maxDate" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="datepickerRef"></mat-datepicker-toggle>
      <mat-datepicker #datepickerRef></mat-datepicker>
      <mat-hint *ngIf="invalidDatepicker(datepickerInputRef)">Invalid date</mat-hint>
      <mat-hint align="end" *ngIf="validDatepicker(datepickerInputRef)">✔</mat-hint>
      <mat-error *ngIf="emptyDatepicker(datepickerInputRef)">Required</mat-error>
    </mat-form-field> -->
    <div fxLayoutAlign="center center" class="checkbox-row">
      <mat-checkbox ngModel name="agree" color="primary" required></mat-checkbox>
      <span>* Agree to
        <span class="terms-and-conditions" (click)="onClickTermsAndConditions()">Terms and Conditions</span>
      </span>
    </div>
    <button [disabled]="!ngFormRef.valid" type="submit" mat-raised-button color="primary">Signup</button>
  </form>
</section>
<footer [hidden]="usernameAvailable">That username is already registered</footer>
