<section fxLayout fxLayoutAlign="center" class="new-sprint">
  <form (ngSubmit)="onSubmitNewSprintForm()" [formGroup]="newSprintForm">
    <mat-card fxFlex="20em">
      <mat-card-title fxLayoutAlign="center">Time to start a sprint!</mat-card-title>

      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select [(value)]="selected" placeholder="Choose type" formControlName="selectedSprint">
            <mat-option *ngFor="let sprint of sprints" value="{{ sprint._id }}"> {{ getSprintFullName(sprint) }}</mat-option>
            <!-- <mat-option value="option3">Other...</mat-option> -->
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-form-field fxLayoutAlign="center">
        <textarea matInput placeholder="What will you be doing?" formControlName="description"></textarea>
        <mat-hint>Optional</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <mat-checkbox fxLayoutAlign="center" name="notify" color="primary" checked="true" formControlName="notify">
        Notify when completed
      </mat-checkbox>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" [disabled]="!newSprintForm.valid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
