<mat-toolbar color="primary">
  <div style="width: 50%">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <img class="logo" alt="Sprints Logo" src="assets/logo.png">
      </button>
    </div>
    <div fxHide.xs>
      <button mat-icon-button style="cursor:default">
        <img class="logo" alt="Sprints Logo" src="assets/logo.png">
      </button>
    </div>
  </div>
  <div fxFlex fxLayout style="width: 50%">
    <a class='app-name'>≡Sprint</a>
    <div fxLayout fxLayoutAlign="flex-end" fxLayoutGap="1em">
      <a *ngIf="!isAuthenticated" routerLink="/signup" fxHide.xs>Signup</a>
      <a *ngIf="!isAuthenticated" routerLink="/login" fxHide.xs>Login</a>
      <a *ngIf="isAuthenticated" routerLink="/sprint" fxHide.xs>Sprints</a>
      <a *ngIf="isAuthenticated" style="cursor: pointer" (click)="onClickLogout()" fxHide.xs>Logout</a>
    </div>
  </div>
</mat-toolbar>
