<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <img class="logo" alt="Sprints Logo" src="assets/logo.png" style="padding-top: 6px;">
    </button>
  </div>
  <div>
    <a routerLink="/" fxHide.xs><img class="logo" alt="Sprints Logo" src="assets/logo.png" style="padding-top: 12px;"></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="1em" fxHide.xs>
    <a routerLink="/signup">Signup</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/sprint">Sprint</a>
    <a routerLink="/">Logout</a>
  </div>
</mat-toolbar>
