<section fxLayout fxLayoutAlign="center center" class="new-sprint-template">
  <form (ngSubmit)="onSubmitNewSprintTemplateForm(formDirective)" [formGroup]="newSprintTemplateForm" #formDirective="ngForm" fxLayoutAlign="center center">
    <mat-card fxFlex="20em" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="1em">
      <mat-card-title fxLayoutAlign="center">Create a shared template</mat-card-title>
      <mat-card-content fxLayoutAlign="center" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Author *" formControlName="username">
          <mat-hint>Your username will be visible</mat-hint>
          <mat-hint align="end" *ngIf="newSprintTemplateForm.get('username').value">✔</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sprint name" formControlName="name" required>
          <mat-error *ngIf="newSprintTemplateForm.get('name').hasError('required')">Required</mat-error>
          <mat-hint *ngIf="newSprintTemplateForm.get('name').hasError('minlength')">At least 2 characters long</mat-hint>
          <mat-hint *ngIf="newSprintTemplateForm.get('name').valid" align="end">Looks okay ✔</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Length (in minutes)" formControlName="length" required>
          <mat-error *ngIf="newSprintTemplateForm.get('length').hasError('required')">Required</mat-error>
          <mat-hint *ngIf="newSprintTemplateForm.get('length').hasError('min')">Invalid</mat-hint>
          <mat-hint align="end" *ngIf="newSprintTemplateForm.get('length').valid">✔</mat-hint>
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button type="submit" mat-raised-button color="primary" [disabled]="!newSprintTemplateForm.valid">Create</button>
        </mat-card-actions>
    </mat-card>
  </form>
</section>
