<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1em"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmitLoginForm()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
        required>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">Required</mat-error>
      <mat-hint *ngIf="loginForm.get('email').hasError('email')">Invalid email</mat-hint>
      <mat-hint *ngIf="loginForm.get('email').valid" align="end">Looks okay ✔</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        #passwordInputRef
        placeholder="Password"
        formControlName="password"
        required>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">Required</mat-error>
      <mat-hint *ngIf="loginForm.get('password').hasError('minlength')">At least 6 characters long</mat-hint>
      <mat-hint align="end" *ngIf="loginForm.get('password').valid">Looks okay ✔</mat-hint>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
  </form>
</section>
<footer [hidden]="!invalidLogin">Invalid email or password</footer>